@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #000;
  --background-start-rgb: #fff;
  --background-end-rgb: #fff;
  --primary-color: #007bff;
  --secondary-color: #abe0f4;
  --dark-color: #004b87;
  --accent-color: #ffa500;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #000;
    --background-start-rgb: #fff;
    --background-end-rgb: #fff;
    --primary-color: #007bff;
    --secondary-color: #abe0f4;
    --dark-color: #004b87;
    --accent-color: #ffa500;
  }
}

body {
  color: var(--accent-color);
  background: var(--dark-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.commonBorder {
  border: 1px solid var(--accent-color);
}
